<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link id="aaa" rel="canonical" href="">
  <script>location="{{ page.redirect.to }}" + window.location.hash</script>
  <meta id="ccc" http-equiv="refresh" content="0; url=">
  <h1>Redirecting&hellip;</h1>
  <a id="bbb" href="">Click here if you are not redirected.</a>
</html>

<script>
  const url = "{{ page.redirect.to }}" + window.location.hash

  const b = document.getElementById('bbb')
  b.setAttribute('href', url)

  const a = document.getElementById('aaa')
  a.setAttribute('href', url)

  const c = document.getElementById('ccc')
  c.setAttribute('content', '0; url=' + url)
</script>