name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - master # Here source code branch is `master`, it could be other branch

jobs:
  redirect_path_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: bash ./scripts/redirect.sh

  internal_link_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: bash ./scripts/internal-link.sh

  autogen_og_image:
    needs: [redirect_path_check, internal_link_check]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # - uses: mujo-code/puppeteer-headful@16.6.0
      - uses: ambersun1234/puppeteer-headful@66190b3cf79e5cd4dac6b57ebe42fdc04517da9d
      - name: Install Chinese Font
        run: |
          sudo apt update
          sudo apt install -y fonts-noto
      - uses: ambersun1234/autogen-og-image@v1.0.1
        with:
          input_dir: ${{ github.workspace }}/_posts
          output_dir: ${{ github.workspace }}/assets/img/og
          author: "Shawn Hsu"
          avatar: "https://avatars.githubusercontent.com/u/13270428?v=4"
          force_regenerate: ${{ env.REGENERATE }}
      - name: Commit og image and Push
        run: |
          git config --local user.name 'Shawn Hsu'
          git config --local user.email 'ambersun1234@users.noreply.github.com'
          if [ -z "$(git status --porcelain)" ]; then
            echo "Working directory clean. Nothing to commit."
            exit 0
          fi
          git add .
          git commit -m "Update og image"
          git push
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: og-image
          path: ${{ github.workspace }}/assets/img/og

  build_and_deploy:
    runs-on: ubuntu-latest
    needs: [autogen_og_image]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2147483647

      # Use GitHub Actions' cache to cache dependencies on servers
      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - uses: actions/download-artifact@v4
        with:
          name: og-image
          path: ${{ github.workspace }}/assets/img/og

      # Use GitHub Deploy Action to build and deploy to Github
      # For latest version: `jeffreytse/jekyll-deploy-action@master`
      # This is a specific version for supporting og:image with libpng pre installed
      # - uses: jeffreytse/jekyll-deploy-action@v0.5.1
      - uses: jeffreytse/jekyll-deploy-action@af39f51204a5b46d738cd5782ab31e4109eef533
        with:
          provider: "github" # Default is github
          token: ${{ secrets.GITHUB_TOKEN }} # It's your Personal Access Token(PAT)

  validate_image:
    runs-on: ubuntu-latest
    needs: [build_and_deploy]
    steps:
      - uses: actions/checkout@v4
      - uses: ambersun1234/iAnalyzer@v1.0.0
        with:
          domain: "ambersuncreates.com"
          ignore-prefix: "https://ambersuncreates.com/tags,https://ambersuncreates.com/categories"

  create_search_index:
    runs-on: ubuntu-latest
    needs: [build_and_deploy]
    env:
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      CLIENT_EMAIL: ${{ secrets.CLIENT_EMAIL }}
    steps:
      - uses: actions/setup-node@v4
      - name: create json file
        run: |
          mkdir ~/.gis
          cat << EOF > ~/.gis/service_account.json
          {
            "private_key": "$(printenv PRIVATE_KEY)",
            "client_email": "$(printenv CLIENT_EMAIL)"
          }
          EOF
      - name: Install Google Indexing Script
        run: |
          npm install -g google-indexing-script
      - name: Create Search Index
        continue-on-error: true
        run: |
          google-indexing-script https://ambersuncreates.com
